{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
  </head>
  <body>
    <table id="board">
      <tr>
        <td onclick="reveal()" class="hidden">{{ words.0.text }}</td>
        <td>{{ words.1.text }}</td>
        <td>{{ words.2.text }}</td>
        <td>{{ words.3.text }}</td>
        <td>{{ words.4.text }}</td>
      </tr>
      <tr>
        <td>{{ words.5.text }}</td>
        <td>{{ words.6.text }}</td>
        <td>{{ words.7.text }}</td>
        <td>{{ words.8.text }}</td>
        <td>{{ words.9.text }}</td>
      </tr>
      <tr>
        <td>{{ words.10.text }}</td>
        <td>{{ words.11.text }}</td>
        <td>{{ words.12.text }}</td>
        <td>{{ words.13.text }}</td>
        <td>{{ words.14.text }}</td>
      </tr>
      <tr>
        <td>{{ words.15.text }}</td>
        <td>{{ words.16.text }}</td>
        <td>{{ words.17.text }}</td>
        <td>{{ words.18.text }}</td>
        <td>{{ words.19.text }}</td>
      </tr>
      <tr>
        <td>{{ words.20.text }}</td>
        <td>{{ words.21.text }}</td>
        <td>{{ words.22.text }}</td>
        <td>{{ words.23.text }}</td>
        <td>{{ words.24.text }}</td>
      </tr>
    </table>
  </body>
</html>

<script>
</script>
