{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
  </head>
  <body>
    <table id="board" width="100%">
      <tr>
        <td class="{{ classifications.0 }}">{{ words.0.text }}</td>
        <td class="{{ classifications.1 }}">{{ words.1.text }}</td>
        <td class="{{ classifications.2 }}">{{ words.2.text }}</td>
        <td class="{{ classifications.3 }}">{{ words.3.text }}</td>
        <td class="{{ classifications.4 }}">{{ words.4.text }}</td>
      </tr>
      <tr>
        <td class="{{ classifications.5 }}">{{ words.5.text }}</td>
        <td class="{{ classifications.6 }}">{{ words.6.text }}</td>
        <td class="{{ classifications.7 }}">{{ words.7.text }}</td>
        <td class="{{ classifications.8 }}">{{ words.8.text }}</td>
        <td class="{{ classifications.9 }}">{{ words.9.text }}</td>
      </tr>
      <tr>
        <td class="{{ classifications.10 }}">{{ words.10.text }}</td>
        <td class="{{ classifications.11 }}">{{ words.11.text }}</td>
        <td class="{{ classifications.12 }}">{{ words.12.text }}</td>
        <td class="{{ classifications.13 }}">{{ words.13.text }}</td>
        <td class="{{ classifications.14 }}">{{ words.14.text }}</td>
      </tr>
      <tr>
        <td class="{{ classifications.15 }}">{{ words.15.text }}</td>
        <td class="{{ classifications.16 }}">{{ words.16.text }}</td>
        <td class="{{ classifications.17 }}">{{ words.17.text }}</td>
        <td class="{{ classifications.18 }}">{{ words.18.text }}</td>
        <td class="{{ classifications.19 }}">{{ words.19.text }}</td>
      </tr>
      <tr>
        <td class="{{ classifications.20 }}">{{ words.20.text }}</td>
        <td class="{{ classifications.21 }}">{{ words.21.text }}</td>
        <td class="{{ classifications.22 }}">{{ words.22.text }}</td>
        <td class="{{ classifications.23 }}">{{ words.23.text }}</td>
        <td class="{{ classifications.24 }}">{{ words.24.text }}</td>
      </tr>
    </table>
  </body>
</html>
