button {
  font-size: 3.25vw;
}

table {
  font-size: 3.25vw;
}

.hidden {
  background: #FFFFFF;
}

.red {
  background: #FF0000;
}

.blue {
  background: #0066ff;
}

.neutral {
  background: #FFFF00;
}

.assasin {
  background: #737373;
}
